.trama
{
    background-image: url('src/assets/imagenes/contacto/fondocontacto.png');
    background-repeat: no-repeat;
    //background-position: center center;
    //background-attachment: fixed; permite que el back sea scroll
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
    
    
}
.contact
{
    padding: 5vh;
    //position: center;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.nombre
{
    background-image: url('src/assets/imagenes/contacto/nombre.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.apellido
{
    background-image: url('src/assets/imagenes/contacto/apellido.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.email
{
    background-image: url('src/assets/imagenes/contacto/email.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.telefono
{
    background-image: url('src/assets/imagenes/contacto/telefono.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.localidad
{
    background-image: url('src/assets/imagenes/contacto/localidad.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.mensaje
{
    background-image: url('src/assets/imagenes/contacto/mensaje.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

@media screen and (max-width: 414px) {
  .trama
{
  
  width:100%;
  max-height: 100%;
  
}
}
