<section id="contacto ">
    <div class="w3-container trama">
        <div class="row justify-content-end ">
              <!--   <div class="col-md-7"></div> -->
                <div class="col-5 ">
                
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center tituloMensaje">¡Envianos un mensaje!</div>
                            <div class="text-center textoMensaje">

                                Nos encanta saber tus opiniones.
                              </div>
                                <form class="form-horizontal formu" method="post">
                                   
                                        
                
                                        <div class="form-group ">
                                            <div class="row justify-content-center" >
                                                <!-- <div class="col-4 nombreimg">
                                                    <img src="assets/imagenes/contacto/nombre.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control ">
                                                </div>
                                            </div>
                
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <!-- <div class="col-4 apellido">
                                                    <img src="assets/imagenes/contacto/apellido.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <input id="fname" name="name" type="text" placeholder="Apellido" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <!-- <div class="col-4 email">
                                                    <img src="assets/imagenes/contacto/email.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <input id="fname" name="name" type="text" placeholder="Email" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <!-- <div class="col-4 telefono">
                                                    <img src="assets/imagenes/contacto/telefono.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <input id="fname" name="name" type="text" placeholder="Telefono" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <!-- <div class="col-4 localidad">
                                                    <img src="assets/imagenes/contacto/localidad.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <input id="fname" name="name" type="text" placeholder="Localidad" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <!-- <div class="col-4 mensaje">
                                                    <img src="assets/imagenes/contacto/mensaje.png" alt="" width="110" height="35">
                                                </div> -->
                
                                                <div class="col-12">
                                                    <textarea class="form-control" id="message" name="message" placeholder="Mensaje."
                                                        rows="7"></textarea>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group ">
                                            <div class="col-11 posbuton">
                                                <button type="submit" class="btn btn-warning btn-lg">Enviar</button>
                                            </div>
                                        </div>
                
                                   
                
                                </form>
                            
                        </div>
                    </div>
                </div>
                </div>
         </div>
</section>