<section id="contacto ">
    <div class="w3-container trama">
        <div class="row justify-content-end ">
              <!--   <div class="col-md-7"></div> -->
                <div class="col-5 col-centered ">
                
                    
                            <div class="text-center tituloMensaje">¡Envianos un mensaje!</div>
                            <div class="text-center textoMensaje">

                                Nos encanta saber tus opiniones.
                              </div>
                                <form class="form-horizontal formu" method="post">
                                   
                                        
                
                                        <div class="form-group ">
                                            <div class="row justify-content-end" >
                                                <div class="col nombreimg">
                                                    <img src="assets/imagenes/contacto/nombre.png"class="responsive" alt="" width="73%" height="94%">
                                                </div>
                
                                                <div class="col-8">
                                                    <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control ">
                                                </div>
                                            </div>
                
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-end">
                                                <div class="col apellido">
                                                    <img src="assets/imagenes/contacto/apellido.png"class="responsive" alt="" width="73%" height="94%">
                                                </div>
                
                                                <div class="col-8">
                                                    <input id="fname" name="name" type="text" placeholder="Apellido" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-end">
                                                <div class="col email">
                                                    <img src="assets/imagenes/contacto/email.png"class="responsive" alt="" width="73%" height="94%%">
                                                </div>
                
                                                <div class="col-8">
                                                    <input id="fname" name="name" type="text" placeholder="Email" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-end">
                                                <div class="col telefono">
                                                    <img src="assets/imagenes/contacto/telefono.png"class="responsive" alt="" width="73%" height="94%">
                                                </div>
                
                                                <div class="col-8">
                                                    <input id="fname" name="name" type="text" placeholder="Telefono" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-end">
                                                <div class="col localidad">
                                                    <img src="assets/imagenes/contacto/localidad.png"class="responsive" alt="" width="73%" height="94%">
                                                </div>
                
                                                <div class="col-8">
                                                    <input id="fname" name="name" type="text" placeholder="Localidad" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <div class="row justify-content-end">
                                                <div class="col mensaje">
                                                    <img src="assets/imagenes/contacto/mensaje.png" class="responsive" alt="" width="73%" height="25%">
                                                </div>
                
                                                <div class="col-8">
                                                    <textarea class="form-control" id="message" name="message" placeholder="Mensaje."
                                                        rows="7"></textarea>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group ">
                                            <div class="col-11 posbuton" >
                                                <button type="submit" class="btn btn-warning btn-lg" style="margin-right:-6%">Enviar</button>
                                            </div>
                                        </div>
                
                                   
                
                                </form>
                            
                      
                </div>
                </div>
         </div>
</section>