<section id="contacto">
  <div class="w3-container  trama">
        <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    
                        <div class="container">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                    <br>
                    <br>
                    <br>
                    <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <form class="form-horizontal" method="post">
                                                <fieldset>
                                                    <legend class="text-center header">Contactanos</legend>
                            
                                                    <div class="form-group ">
                                                        <div class="row">
                                                            <div class="col-md-4 nombre">
                                                                
                                                            </div>
                                                            
                                                            <div class="col-md-8">
                                                                <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control " >
                                                            </div>
                                                        </div>
                                                            
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                            <div class="row">
                                                                    <div class="col-md-4 apellido">
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-8">
                                                                        <input id="fname" name="name" type="text" placeholder="Apellido" class="form-control " >
                                                                    </div>
                                                                </div>
                                                    </div>
                            
                                                    <div class="form-group">
                                                       
                                                            <div class="row">
                                                                    <div class="col-md-4 email">
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-8">
                                                                        <input id="fname" name="name" type="text" placeholder="Email" class="form-control " >
                                                                    </div>
                                                                </div>
                                                    </div>
                            
                                                    <div class="form-group">
                                                        
                                                            <div class="row">
                                                                    <div class="col-md-4 telefono">
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-8">
                                                                        <input id="fname" name="name" type="text" placeholder="Telefono" class="form-control " >
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="form-group">
                                                            
                                                            <div class="row">
                                                                    <div class="col-md-4 localidad">
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-8">
                                                                        <input id="fname" name="name" type="text" placeholder="Localidad" class="form-control " >
                                                                    </div>
                                                                </div>
                                                        </div>
                            
                                                    <div class="form-group">
                                                        
                                                            <div class="row">
                                                                    <div class="col-md-4 mensaje">
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" id="message" name="message" placeholder="Mensaje." rows="7"></textarea>
                                                                    </div>
                                                                </div>
                                                    </div>
                            
                                                    <div class="form-group">
                                                        <div class="col-md-11 text-center">
                                                            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                                                        </div>
                                                    </div>
                                                    
                                                </fieldset>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                       
                            </div>
                        </div>
                        
              </div>
         </div>
</section>