.trama
{
    background: url('src/assets/imagenes/contacto/fondocontacto.png');
    background-repeat: no-repeat;    
    background-position: center center;
    //background: fixed;
    //background-attachment: scroll; //permite que el back sea scroll
    background-size: cover; 
    //position: absolute;
    width: 100%;
    height: 100%;



    /* background: url('src/assets/imagenes/contacto/fondocontacto.png') no-repeat  center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center; */


    
    
    
    
}
.tituloMensaje{
    font-family: "PlayfairDisplay-Bold";
    font-size: 52px;
    color: rgb(212, 154, 7);
    margin-top: 20%;
  }

  .textoMensaje{
    font-family: "Montserrat-Light";
    font-size: 22px;
    line-height: 1.7;
    color: white;
  }
.contact
{
    padding: 5vh;
    //position: center;
}
.formu
{
    margin-top: 20%;
    margin-bottom: 40%;
    //margin-left: 7%;
    margin-right: 5%
}
.posbuton
{
    text-align-last: right;
    
}
/* .nombre
{
    background-image: url('src/assets/imagenes/contacto/nombre.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.apellido
{
    background-image: url('src/assets/imagenes/contacto/apellido.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.email
{
    background-image: url('src/assets/imagenes/contacto/email.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.telefono
{
    background-image: url('src/assets/imagenes/contacto/telefono.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.localidad
{
    background-image: url('src/assets/imagenes/contacto/localidad.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
}
.mensaje
{
    background-image: url('src/assets/imagenes/contacto/mensaje.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width:100%;
    max-height: 100%;
} */


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
 
    text-align: center;

}

.responsive {
    width: 100%;
    height: auto;
    max-width: 73%;
    max-height: 94%
  }


@media screen and (max-width: 414px) {
  .trama
{
  background-image: url('src/assets/imagenes/contacto/contactanoscelu.jpg');
  background-size:center center;
  width:100%;
  max-height: 100%;
  
}


.tituloMensaje{
    font-family: "PlayfairDisplay-Bold";
    font-size: 22px;
    color: rgb(212, 154, 7);
    margin-top: 20%;
  }
}
