.footer3{
    background: url("../../assets/imagenes/footer.jpg");
   //background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0%;
    width: 100%;
    height: 150vh;
}

.footer2
{
    background-color: black;
}