h1{
    color:black;
    font-family: 'PlayfairDisplay-Black';

}

.textoNegro{
    color:black;
}

hr.new4 {
    width: 50%;
    border: 3.5px solid rgba(143, 106, 85, 1);
    
  }

  img{
      max-width: 100%;
  }

.fondoNegro{
    background-color: black;
  }
.fondoRosa{
    background-color: rgb(255, 232, 232);
  }
  .fondoMarron{
    background-color: rgb(185, 177, 169);
  }
.container{
    width: 100%;
  }

  
