<section id="nosotros">
<div class="w3-container  align-items-center fondoConocenos "   >
    
  <h1 class="text-center mb-0 tituloConocenos ">
    Conocenos
    <hr class="new4">
  </h1>

  <div class="row">
    <div class="col"> 
        <!-- class="prueba" -->
        <img src="assets/imagenes/almendranatural.png "class="prueba"  alt="almendra cayendo" > 
          
        <!-- <img src="assets/imagenes/almendranatural.png" alt="" > -->
    
    </div>

    <div class="col fondo" >
        
      <div class="tituloTexto">
        Un poco de nuestra historia
      </div>
      <div class="texto1">
        A finales del año 2008, un grupo de amigos con ganas de incursionar en una actividad que nos
        entusiasmaba y nos sigue entusiasmando, decidimos comenzar este proyecto de producción de
        frutos secos.
      </div>
      <div class="texto2">
        En aquél momento comenzamos a acondicionar las tierras en que se implantaron
        los primeros ejemplares de almendras Guara y nueces Chandler en cercanías de la localidad
        rionegrina de Sargento Vidal, municipio de Campo Grande, en la norpatagonia.
        Desde entonces hemos recuperado más de setenta hectáreas que estaban abandonadas,
        dándoles un destino de producción y generando trabajo para los habitantes de la zona. El devenir
        del proyecto generó que tuviéramos que dar un giro industrial, de modo de poder acondicionar las
        almendras y nueces para su consumo. Para ello instalamos una planta de partido de frutos secos
        que es única en la zona.
        Junto con el cultivo y acondicionamiento de la producción, decidimos incursionar en la elaboración
        de productos que mostraran todo el potencial de sabores que los frutos secos pueden brindar, y
        que se aprecian en la diversidad de variedades que elaboramos en nuestro establecimiento
        ubicado en medio de la primer plantación de nogales.
        Estamos muy orgullosos del camino andado y esperamos poder compartir con Uds la calidad y
        originalidad de los sabores de nuestros productos, tanto los naturales como los elaborados.
        A finales del año 2008, un grupo de amigos con ganas de incursionar en una actividad que nos
        entusiasmaba y nos sigue entusiasmando, decidimos comenzar este proyecto de producción de
        frutos secos. En aquél momento comenzamos a acondicionar las tierras en que se implantaron
        los primeros ejemplares de almendras Guara y nueces Chandler en cercanías de la localidad
        rionegrina de Sargento Vidal, municipio de Campo Grande, en la norpatagonia.
        Desde entonces hemos recuperado más de setenta hectáreas que estaban abandonadas,
        dándoles un destino de producción y generando trabajo para los habitantes de la zona. El devenir
        del proyecto generó que tuviéramos que dar un giro industrial, de modo de poder acondicionar las
        almendras y nueces para su consumo. Para ello instalamos una planta de partido de frutos secos
        que es única en la zona.
        Junto con el cultivo y acondicionamiento de la producción, decidimos incursionar en la elaboración
        de productos que mostraran todo el potencial de sabores que los frutos secos pueden brindar, y
        que se aprecian en la diversidad de variedades que elaboramos en nuestro establecimiento
        ubicado en medio de la primer plantación de nogales.
      </div>
      <div class="texto3">
        Estamos muy orgullosos del camino andado y esperamos poder compartir con Uds la calidad y
        originalidad de los sabores de nuestros productos, tanto los naturales como los elaborados.
      </div>
      
    </div>    
  </div>


  <!-- galeria carrusel -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  

  









</div>


<!-- messi
<div class="elfsight-app-76314b7a-7749-4643-829f-b4b4095ff3f7"></div> -->



<div class="elfsight-app-6c892db4-63d7-4c6d-acc5-f8493d136ba2"></div>



</section>