h1{
    color:black;
    font-family: 'PlayfairDisplay-Black';

}

.textoNegro{
    color:black;
}

hr.new4 {
    width: 30%;
    border: 3.5px solid rgba(143, 106, 85, 1);
    
  }

  img{
      max-width: 100%;
  }

.fondoNegro{
    background-color: black;
  }
.fondoRosa{
    background-color: rgb(241, 232, 227
    );
  }
  .fondoMarron{
    background-color: rgb(185, 177, 169);
  }
.container{
    width: 100%;
  }

  //ver como hacer para que empiece cuando se enfoca el container
  .prueba{
    animation-name: fadeInDown;
    animation-duration: 4s;
    animation-play-state: running;
  }
  .fondoConocenos{
    background: url("../../assets/imagenes/fondoconocenos.png") no-repeat fixed; 
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
  
  }
  
  .tarjeta{
    max-width:70%;
    max-height: 45%;
  }






  //mobile
  @media only screen and (max-width: 414px) {
   
    hr.new4 {
        width: 70%;
        border: 3.5px solid rgba(143, 106, 85, 1);
        
      }
  
}
  
