h1 {
    color: black;
    font-family: 'PlayfairDisplay-Black';
}

.tituloSobreNosotros {
    font-family: 'Montserrat-SemiBold';
    font-size: 40px;
    color: #665048;
}

.tituloOrgullosos{
    font-family: 'Montserrat-Medium';
    font-size: 28px;
    color:#665048;
    text-align: center;
    padding-top: 6%;
}

.margen-top{
    padding-top: 16vw;
}

.textoNegro{
    color:black;
}

.arribaCalidad {
    margin-top: -30%;
}

p {
    font-family: 'Montserrat-Medium';
    color: black;
    font-size: 18px;
}

.numero {
    color: #665048;
    ;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}

.margenLeft {
    margin-left: -5%;
}

.btn-light {
    width: 35vw;
    height: 4vw;
    margin-left: -1%;
    font-family: 'Montserrat-Medium';
    color: #87CFBE;
    font-size: 25px;
}

.btn-link {
    color: #87CFBE;
    font-family: 'Montserrat-Medium';
    font-size: 37.7;
}

.textoBotones {
    color: #87CFBE;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
}

hr.new4 {
    width: 30%;
    border: 2px solid #87CFBE;
}

img {
    max-width: 100%;
}

.fondoNegro {
    background-color: black;
}

.fondoRosa {
    background-color: rgb(241, 232, 227);
}

.fondoMarron {
    background-color: rgb(185, 177, 169);
}

.container {
    width: 100%;
}

//ver como hacer para que empiece cuando se enfoca el container
.prueba[_ngcontent-c4] {
    /* animation-name: fadeInDown;
    animation-duration: 4s;
    animation-play-state: running; */
    max-width: 30%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    z-index: 0;
    position: relative;
}

.rectanguloEnBlanco {
    height: 13vw;
}

h2 {
    font-family: 'Montserrat-SemiBold';
    font-size: 52px;
    color: #665048;
    line-height: 54px;
}

.conocenosImagen {
    background: url('src/assets/imagenes/conocenos/nosotros01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
    background-position: center;
    background-position-y: 12vw;
    height: 53vw;
    margin-top: -3.5%;
}

.conocenosImagen2 {
    background: url('src/assets/imagenes/conocenos/nosotros02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-attachment: fixed;
    background-position: center top;
    height: 15vw;
    margin-top: -3.5%;
}



.atras {
    z-index: 1;
    position: relative;
}

.efectoAlmendra {
    background: url('src/assets/imagenes/almendrasBaja.png');
    background-attachment: fixed;
    background-size: 70%;
    width: 100%;
    z-index: 3;
    position: relative;
    //background: transparent;
}


/* .fondoConocenos{
    //background: url("../../assets/imagenes/fondoconocenos.png") no-repeat fixed; 
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
  
  } */

//robado de la pag de almendra
.animation {
    z-index: 2;
    position: absolute;
    width: 100%;
}

.mobileImage {
    display: none;
}

.motion_image_block {
    position: relative;
    display: block;
    top: 0;
    left: 0;
}

.motion_image_block>.mask {
    position: relative;
    overflow: hidden;
}

.motion_image_block>.mask>.image {
    margin: 0 auto;
    display: block;
    position: absolute;
}

.pt-8 {
    padding-top: 6vw;
}

//hasta aca
.tarjeta {
    max-width: 70%;
    max-height: 45%;
}

.tituloConocenos {
    font-family: 'Montserrat-SemiBold';
    font-size: 52px;
    padding-top: 3%;
    color: rgb(119, 87, 70)
}

.tituloTexto {
    margin-top: 7%;
    font-family: "Montserrat-SemiBold";
    font-size: 28px;
    color: rgb(237, 196, 93);
}

.texto1 {
    font-family: "Montserrat-Regular";
    font-size: 19px;
    color: rgb(119, 87, 70);
}

.texto2 {
    margin-top: 5px;
    font-family: "Montserrat-Light";
    font-size: 15px;
    color: rgb(119, 97, 70);
}

.texto3 {
    margin-top: 5px;
    font-family: "Montserrat-SemiBold";
    font-size: 15px;
    color: rgb(119, 97, 70);
}

hr.new5 {
    width: 100%;
    border: 2px solid rgb(237, 196, 93);
    margin-bottom: 15%;
}

.fondo {
    background-color: rgb(241, 232, 227);
    z-index: 0;
}

@media only screen and (max-width: 415px) {
    h2 {
        font-family: 'Montserrat-SemiBold';
        font-size: 22px;
        color: #665048;
        line-height: 54px;
        margin-bottom: 0%;
        padding-top: 0%;
    }
    .pt-8 {
        padding-top: 0;
    }
    .baja {
        margin-top: -8%;
    }
}


/* accordion style 2 */

.accordion-style2 .panel {
    background: transparent;
    border: none;
    margin-bottom: 15px;
    box-shadow: none;
}

.accordion-style2 .panel-title {
    background: transparent;
    border: none
}

/* accordion style 2 */
.accordion-style2 .panel {background: transparent; border: none; margin-bottom: 15px; box-shadow: none;}
.accordion-style2 .panel-title {background: transparent; border: none }
.accordion-style2 .panel .panel-heading { background: #fff; border-radius:0; padding:5px 15px 5px }
.accordion-style2 .panel-body{padding: 25px 10px 20px; border-top:none;font-size:0.9rem  }
.accordion-style2 .panel-heading i { font-size: 25px; margin: 0;}
.accordion-style2 .panel-title {padding: 0;}
.accordion-style2 .tab-tag { font-size: 20px; padding: 0; margin-right: 7px; display: inline-block; vertical-align: top; }
.accordion-style2 a, .accordion-style2 a:hover, .accordion-style2 a:hover i { color: #fff;;}
.accordion-style2 a:hover i { color: black;}
.accordion-style2  i { color: black;}
.accordion-style2 .panel-default:last-child {border-bottom: 1px solid rgba(0, 0, 0, 0); margin-bottom: 0;}
.accordion-style2 { margin-bottom: 0;}

.accordion-style2 .panel-body {
    padding: 25px 20px 20px;
    border-top: none
}

.accordion-style2 .panel-heading i {
    font-size: 25px;
    margin: 0;
}

.accordion-style2 .panel-title {
    padding: 0;
}

.accordion-style2 .tab-tag {
    font-size: 20px;
    padding: 0;
    margin-right: 7px;
    display: inline-block;
    vertical-align: top;
}

.accordion-style2 a,
.accordion-style2 a:hover,
.accordion-style2 a:hover i {
    color: #fff;
    ;
}

.accordion-style2 a:hover i {
    color: black;
}

.accordion-style2 i {
    color: black;
}

.accordion-style2 .panel-default:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.accordion-style2 {
    margin-bottom: 0;
}