<div class="w3-container align-items-center "  style="width: 100% margin=0%">


    <div class="span " style="background-color: black;height:2vw"></div>

  <h1 class="text-center tituloContactanos">
    Puntos de Venta
    <hr class="new4">
  </h1>
 
<div class="container">
  <div class="row ">
    <div class="col">       
      <iframe class="mapa" src="https://www.google.com.qa/maps/d/embed?mid=1LYSualpzrTI5VikXamrUFBLRXq-NXQiL" ></iframe>
    </div>
  
    <div class="col">
      <p class="text-center"></p>
    </div>    
  </div>
  
  
</div>
</div>

