<div class="w3-container m-5 align-items-center "  style="display: inherit">
  <h1 class="text-center mb-0 ">
    Contactanos
    <hr class="new4">
  </h1>
  <br><br><br>

  <div class="row">
    <div class="col m-5">    
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->
      <iframe  class= "mapa" src="https://www.google.com.qa/maps/d/embed?mid=1LYSualpzrTI5VikXamrUFBLRXq-NXQiL"></iframe>
    </div>
  
    <div class="col">
      <p class="text-center">Puntos de venta en el pais</p>
    </div>    
  </div>
  
  
</div>

