h1{
    color:white;

}

.textoBlanco{
    color:white;
}

hr.new4 {
    width: 50%;
    border: 1.5px solid rgba(245,203,88,1);
    background-color: black;
  }

  img{
      max-width: 100%;
  }

.fondoNegro{
    background-color: black;
  }

.container{
    margin: 0;
  }