  
  
  <div class="w3-container m-1 align-items-center fondoNegro "  style="display:table-row;max-width: 100%;">

    <h1 class="text-center mt-5 " style="max-width: 100%;">
      Nuestros Productos
      <hr class="new4">
    </h1>

  

    <div class="text-center m-1  textoBlanco" style="color:white;    margin-top: -1.15%;">
      
        La tierra, el agua y el clima de esta región de la patagonia le confieren a nuestros <br>
        frutos secos sabor, color y tamaños inigualables.
    </div>

    <div class="row ">
      <div class="col">
      
          <img src="assets/imagenes/almendranatural.png" alt="" >
          <p class="textoBlanco text-center">Dulces</p>
      </div>
      <div class="col">
          <img src="assets/imagenes/almendranatural.png" alt="">
          <p class="textoBlanco text-center">Salados</p>
      </div>
      <div class="col" >
          <img src="assets/imagenes/almendranatural.png" alt="">
          <p class="textoBlanco text-center">Naturales  </p>
      </div>
      
    </div>

  </div>
  
  
 