/* equal card height */
.resetas-section {
    padding-top: 6vh; 
    padding-bottom: 6vh; 
    background-size:cover; 
    background-image: url('https://image.freepik.com/free-vector/close-up-black-marble-background_53876-58926.jpg');
}

.card {
    width: 80% !important;
}
.tituloTexto
{
    
    font-family: "PlayfairDisplay-Bold";
    font-size: 57px;
    color: rgb(255 ,255,255);

}
.texto1
{
    margin-top: 5%;
    font-family: "Montserrat-SemiBold";
    font-size: 22px;
    color: rgb(255 ,255,255);
}
.texto2
{
    margin-top: 7%;
    font-family: "Montserrat-Light";
    font-size: 18px;
    color: rgb(255 ,255,255);
}