<section id="recetas">
<div class="w3-container m-5 align-items-center" style="display: inherit;">
  <div class="row resetas-section">
    <div class="col-8 fondoMarron">
      <div id="recipeCarousel" class="carousel slide w-100  fondoRosa" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item row no-gutters active ">
            <div class="col-6 float-left">
              <div class="card">
                <img class="card-img-top"
                  src="https://cdn1.comohacerpara.com/imgn/18381-macarrones-frutos-rojos-receta.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5><strong>Macarrones de Frambuesa</strong></h5>
                    </div>
                    <div class="col-3" style="text-align: center;">
                      <i class="fas fa-clock fa-2x"></i>
                      <p style="font-size: 11px"><strong>40min</strong></p>
                    </div>
                    <div class="col-3" style="text-align: center;">
                      <i class="fas fa-cheese fa-2x"></i>
                      <p style="font-size: 11px"><strong>Dificil</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-6 float-left">
              <div class="card">
                <img class="card-img-top"
                  src="https://cdn1.comohacerpara.com/imgn/18381-macarrones-frutos-rojos-receta.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5><strong>Macarrones de Frambuesa</strong></h5>
                    </div>
                    <div class="col-3" style="text-align: center;">
                      <i class="fas fa-clock fa-2x"></i>
                      <p style="font-size: 11px"><strong>40min</strong></p>
                    </div>
                    <div class="col-3" style="text-align: center;">
                      <i class="fas fa-cheese fa-2x"></i>
                      <p style="font-size: 11px"><strong>Dificil</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
          <i class="fas fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
          <i class="fas fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-3">
      <p class="text-center">Receta 2</p>
    </div>
  </div>
</div>
</section>
