/* equal card height */
.resetas-section {
    padding-top: 10vw; 
    padding-bottom: 5vw; 
    margin-bottom: 5vw;
    background-size:cover; 
    background-image: url('https://image.freepik.com/free-vector/close-up-black-marble-background_53876-58926.jpg');
}

.anchor{
    display: block;
    height: 13vw; /*same height as header*/
    margin-top: -13vw; /*same height as header*/
    visibility: hidden;
  }

.card {
    width: 80% !important;
}
.tituloTexto
{
    padding-top: 1.6%;
    line-height:20px;
    font-family: "Montserrat-SemiBold";
    font-size: 50px;
    color: rgb(255 ,255,255);




}
.texto1
{
   // margin-top: 5%;
    font-family: "Montserrat-SemiBold";
    font-size: 22px;
    color: rgb(255 ,255,255);
}
.texto2
{
   // margin-top: 7%;
    font-family: "Montserrat-Light";
    font-size: 18px;
    color: rgb(255 ,255,255);
}
.verTodo
{
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    line-height:30px;
}
.tiempo
{
    text-align: center;
}
.coccion
{
    text-align: end;
 
}

.carousel-control.left, .carousel-control.right {
    left: 0;
    z-index: 1;
  }

.col-6{
    max-height: 365px;
}

img{
    max-height: 225px;
}

h5{
    font-family: "Montserrat-SemiBold";
    font-size: medium;
}

p{
    font-size: 11px;
    font-family: "Montserrat-Light";
    
    

}

@media screen and (max-width: 414px) {
   
.col-8
{
    display: none;
}
.col-12
{
    align-items: center;
    padding-left: 30px;
}

.celular
{
    .tituloTexto
{
   
    font-family: "PlayfairDisplay-Bold";
    font-size: 52px;
    color: rgb(255 ,255,255);
    text-align: center;
    

}
.texto1
{
    margin-top: 5%;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: rgb(255 ,255,255);
    text-align: center;
}
.texto2
{
    margin-top: 7%;
    font-family: "Montserrat-Light";
    font-size: 15px;
    color: rgb(255 ,255,255);
    text-align: center;
}
.verTodo
{
    font-family: "Montserrat-SemiBold";
    font-size: 10px;
    line-height:30px;
    text-align: center;
}
}
}
  