
<nav [@hamburTrigger]="armado ? 'armado' : 'normal'" class="navbar fixed-top top-nav-collapse  navbar-ligth bg-ligth mont" id="header" [ngClass]="{'hambur':hamburguesa,'navbar-expand-lg':!hamburguesa }"
(mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()">
 
 
 <!-- [ngClass]="{'hambur':hamburguesa}"  -->
 
  <a class="navbar-brand" href="#" style="float: left">
    <img src="{{ruta}}"
    height="15%" width="15%"
    [ngStyle]="{'heigth':hamburguesa ? '5.5%' :'10%', 'width':hamburguesa ? '5.5%':'10%', 'margin-left':hamburguesa ? '43vw':'0%', 'transition':hamburguesa ? '1.5s':'1s'}"
    alt="logoBV">
  </a>
  <button class="navbar-toggler navbar-light " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
 
     style="position: absolute;
     right: inherit;" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item dropdown">
          <hr class="celeste mb-3"  [ngStyle]="{'display':hamburguesa ? 'none' :'block'}" >
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  routerLinkActive="active">
          PRODUCTOS
        </a>
        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#dulces">Dulces</a>
          <a class="dropdown-item" href="#salados" >Salados</a>
          <a class="dropdown-item" href="#naturales" >Naturales</a>
          <a class="dropdown-item" href="#productos" >Todos</a>
          
        </div>
      </li>
 
      <li class="nav-item">
          <hr class="violeta mb-3" [ngStyle]="{'display':hamburguesa ? 'none' :'block'}">
        <a class="nav-link" href="#nosotros"    routerLinkActive="active" >NOSOTROS</a>
      </li>
      <li class="nav-item">
          <hr class="verde mb-3" [ngStyle]="{'display':hamburguesa ? 'none' :'block'}">
        <a class="nav-link" href="#contacto"   routerLinkActive="active" >CONTACTO</a>
      </li>
    
      <li  class="nav-item" [ngStyle]="{'display':hamburguesa ? 'none' :'block'}">


          <hr class="naranja mb-3" [ngStyle]="{'display':hamburguesa ? 'none' :'block'}">
          <form class="form-inline">
    
            <input class="form-control" name="busqueda" type="search" placeholder="Busqueda" aria-label="Search" style="max-width: 50%;margin-top: -8%;" [ngStyle]="{'display':hamburguesa ? 'none' :'block'}" 
            [(ngModel)]="model.busqueda" required
            autocomplete="false"
            autofocus="false"
            (submit)="buscar()"
            (keydown.enter)="buscar()">        
          </form>

      </li>

    </ul>

 
  </div>
</nav>


